body {
  margin: 0;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  min-height: 100vh;
  transition: all 1s;
}

/* nav */
@media screen and (min-width: 600px) {
  .mobile-nav {
  display: none;
  }
}

.mobile-nav {
  background: #F1F1F1;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* not added yet but for nav icons */
.icon img {
  width: 30px;
}