body {
  margin: 0;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  min-height: 100vh;
  transition: all 1s;
}