:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-primary);
  transition: all .5s;
}

/* Dark Mode */
[data-theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

/* Dark mode button styling */
#fixed-button {
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 10px 12px;
  font-size: 30px;
  font-weight: 300;
  font-family: inherit;
  background-color: var(--background);
  color: var(--text-primary);
  cursor: pointer;
  transition: border-color 0.5s;
}
#fixed-button:hover {
  border-color: #e2df3bd8;
}
#fixed-button:focus,
#fixed-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#fixed-button{
  position: fixed; 
  bottom: 80px; 
  right: 30px;
}

/* Hyperlinks */
a {
  font-weight: 500;
  color: #DAA520;
  text-decoration: inherit;
}
a:hover {
  color: #b18923;
}

/* Fonts */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}